.zr-dialog{
    background-color: #FFF;
    .dialog-header{
        height: 40px;
        line-height: 40px;
        color: #777070;
        font-weight: bold;
        text-align: left;
        padding: 0px 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 3px 0 rgba(0,37,55,.05);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .dialog-title{

        }
        .dialog-close{
            width: 28px;
            height: 28px;
            background-color: #d8a8a8;
            margin: 5px 0px;
            text-align: center;
            font-size: 24px;
            line-height: 25px;
            color: #FFF;
            cursor: pointer;
        }
    }
    .dialog-body{
        padding: 4px;
    }

    &.fixed{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 480px;
        .dialog-body{
            flex: 1;
            overflow: auto;
        }
    }
}
